<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
        <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>
<body>
     <h1>Email Spam Classifier</h1>
      <div>
          <form method="POST">
              <textarea name ="email-content" rows="12" cols="60" placeholder="Enter your email here"</textarea>
              <div> <button type="Check Spam">Submit</button> </div>
          </form>
      </div>
      <div>
          <p id="display"></p>
      </div>
</body>
</html>